@{
    ViewData["Title"] = "Create";
}

<br />
<div class="form-actions no-color">
    <div class="col-sm-6">
        <h4>開催形態</h4>
        <h3>【新規登録】</h3>
        <h4>※は入力必須項目です</h4>
    </div>
    <div class="col-sm-2">
        <a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a>
    </div>
</div>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label col-md-3">【開催形態名称】※</label>
                    <div class="col-md-5">
                        <input name="name" class="form-control" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">【並び順】※</label>
                    <div class="col-md-5">
                        <input type="number" name="sort" class="form-control" style="max-width:100px;" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-outline-dark btn-lg">登録</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}