@model Fdsd.Domain.Entities.T_Emp_Kubun
@{
    ViewData["Title"] = "Create";
}
<h3>従業員区分登録</h3>
<a href="@Url.Action("Index")" class="btn btn-sm btn-secondary mb-3">戻る</a>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">EmpKubun</label>
            <div class="col-md-10">
                <input type="number" name="EmpKubun" value="@ViewBag.NextEmpKubun" min="1" class="form-control" style="max-width:280px;" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">KubunName</label>
            <div class="col-md-10">
                <input name="KubunName" class="form-control" style="max-width:280px;" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-outline-dark">登録</button>
            </div>
        </div>
    </div>
</form>
<div>
    <a href="@Url.Action("Index")" class="btn btn-sm btn-secondary">戻る</a>
</div>